.container {
    justify-content: center;
    text-align: center;
}

.login-container {
    max-width: 300px;
    margin: 60px auto 0;
}

.register-container {
    max-width: 400px;
    margin: 60px auto 0;
}

.help-block {
    color: tomato;
    font-size: 18px;
    padding-top: 2px
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    .modal-dialog img {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 190px;
        width: 190px;
    }


*,h1,h2,h4,h3,h5{
    font-family: "Roboto";
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 1px;
    box-sizing: border-box;
}

body {
    background: #f9fafa;
    background: linear-gradient(to right, #F0F2F0, #D9F7FF);
    font-size: 18px;
}

#aboutDiv {

    text-align: center;
}

.hedaers {
    font-family: 'Allerta Stencil';
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navbar-default {
    font-size: 18px;
}

a:hover {
    cursor: pointer;
}
.backst {
    background: rgba(216, 216, 216, 0.3) /* Green background with 30% opacity */
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#openCartButt {
    display: block;
    margin: 0 auto;
    padding: 12px 28px;
    font-size: 20px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #F8F8F8;
}

.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}

.aboutImg {
    height: 140px;
    width: 140px;
}
/************************** shop items style****************************************/
.block {
    margin: 20px;
    border-radius: 4px;
    width: 310px;
    min-height: 430px;
    background: #fff;
    padding: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 2px 55px rgba(0,0,0,0.1);
}

.top {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.top ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
}

.top a {
       color: #9e9e9e;
}

.top a:hover {
       color: #c7ccdb;
 }

.converse {
    padding: 2px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.middle {
    margin-bottom: 40px;
}

.middle img {
        width: 100%;
}

.bottom {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.tit{
font-family:'Chiller';
font-size: 40
}
.paragraph{
    font-family: 'Bradley Hand ITC';
    font-size: 22px;
}
.info {
    font-size: 15px;
    font-style: italic;
    color: #969696;
    margin-bottom: 10px;
}
.h2font{
    font-family:"Bernard MT Condensed";
    font-size: 22px;
}
div.background {
    background: url(klematis.jpg) repeat;
    border: 2px solid black;
  }
 td{
     font-family: 'Comic Sans MS';
     text-align:"center";
 } 
 label{
    font-family: 'Comic Sans MS';
 }
  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
  div.notblack{
    margin: 30px;
    background-color: #e6f2ff;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }
  div.transbox p {
    margin: 5%;
    font-weight: bold;
  }  
#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

input.qtyplus {
    width: 25px;
    height: 25px;
}

input.qtyminus {
    width: 25px;
    height: 25px;
}

.price {
    font-size: 20px;
    font-family: 'Georgia';
    font-style: italic;
}

/************************** end shop items style****************************************/


/*********************bounce arrow style (in home page)**********************/
#arrow {
    color: black;
    text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 1% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/********************* end bounce arrow style**********************/



/*********************tabs style (in cart and catalog)**********************/
.tabsClass {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;

}

    .tabsClass li {
        color: #777;
        font-size: 18px;
        border-radius: 25px;
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #E7E7E7;
        background: #F8F8F8;
        display: inline-block;
    }

     .tabsClass li.active {
            color: black;
        }

    .tabsClass a {
        color: #F8F8F8;
        text-decoration: none;
    }

    .tabsClass a:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


#mainView {
    clear: both;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*********************end tabs style**********************/


/*********************search field**********************/
#imaginary_container {
    margin-top: 2%;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}
/********************* end search field**********************/
