<!DOCTYPE html>
<html>
<body>  
  <div class="register-container" ng-controller="registerController as registerCtrl">
        <div class="backst">
          <h1 class="hedaers">Register</h1>
          <hr />
           <h3  style="text-align:center"> Please fill in this form to create an account: </h3> 
           <div class="register-form">
           <form name="registerForm" ng-submit="registerCtrl.register(registerForm.$valid)" novalidate > 
           <div class="form-group"> 
           <label for="FirstName">First Name:</label>
           <input type="text"
           ng-model="registerCtrl.userDetails.FirstName"
           ng-required="true"
           name="FirstName"
           placeholder="Enter details">
           </div>
           <div class="form-group">
           <label for="LastName">Last Name:</label>
           <input type="text"
           ng-model="registerCtrl.userDetails.LastName"
           ng-required="true"
           name="LastName"
           placeholder="Enter details">
          </div>
          <div class="form-group">
           <label for="Username">Username:</label>
           <input type="text"
            ng-model="registerCtrl.userDetails.UserName"
            ng-required="true"
            name="UserName"
            ng-minlength="3"
            ng-maxlength="8"
            ng-pattern="/^[a-zA-Z]*$/"
            placeholder="Enter details">
            <span ng-show="registerForm.UserName.$dirty && registerForm.UserName.$invalid">
                <span ng-show="registerForm.UserName.$error.pattern">User name should contain only letters!</span>
                <span ng-show="registerForm.UserName.$error.required">This field is required!</span>
                <span ng-show="(registerForm.UserName.$dirty && (registerForm.UserName.$error.maxlength || registerForm.usernameInput.$error.minlength)) ">
                    Username should be 3-8 letters.
                </span>
            </span>
            </div>

            <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password"
             ng-model="registerCtrl.userDetails.Password"
             ng-required="true"
             name="Password"
             ng-minlength="5"
             ng-maxlength="10"
             ng-pattern=/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/
             placeholder="Enter details">
             <span ng-show="registerForm.Password.$dirty && registerForm.Password.$invalid">
                <span ng-show="registerForm.Password.$error.pattern">Password should contain letters and numbers!</span>
                <span ng-show="registerForm.Password.$error.required">This field is required!</span>
                <span ng-show="((registerForm.Password.$error.minlength ||
                   registerForm.Password.$error.maxlength) &&
                   registerForm.Password.$dirty) ">
                    Password should be 5-10 letters.
                </span>
            </span>
             </div>
                 
             <div class="form-group">
             <label for="City">City:</label>
             <input type="text"
              ng-model="registerCtrl.userDetails.City"
              ng-required="true"
              name="City"
              placeholder="Enter details">
              </div>
              
              <div class="form-group">
                  <label>Country:</label> 
                        <select  ng-model="registerCtrl.userDetails.Country"
                        ng-options="country.Name for country in registerCtrl.mycountries | orderBy:'Name'"
                       ></select>
              </div>

              <div class="form-group">
              <label for="Email">Email:</label>
              <input type="email"
              ng-model="registerCtrl.userDetails.Email"
              ng-required="true"
              name="Email"
              placeholder="Enter details">
              <span  ng-show="registerForm.Email.$dirty && registerForm.Email.$invalid">
                  <span ng-show="registerForm.Email.$error.required">Email is required.</span>
                  <span ng-show="registerForm.Email.$error.email">Invalid email address.</span>
              </span>
              </div>

              <div class="form-group">
              <label for="Question1"><b>First Question:</b></label>
              <select  ng-model="registerCtrl.userDetails.Questions[0]"
              ng-options="question.QuestionDescription for question in registerCtrl.questions "
              ng-required="true"
              ></select>
              </div>
             

              <div class="form-group">
              <label for="Answer1">Answer:</label>
              <input type="text"
              ng-model="registerCtrl.userDetails.Answers[0]"
              ng-required="true"
              name="Answer1"
              placeholder="Enter details">
              </div>

              <div class="form-group">
              <label for="Question2">Second Question:</label>
              <select  ng-model="registerCtrl.userDetails.Questions[1]"
              ng-options="question.QuestionDescription for question in registerCtrl.questions "
              ng-required="true"
              ></select>
              </div>
              <div class="form-group">
              <label for="Answer2">Answer:</label>
              <input type="text"
              ng-model="registerCtrl.userDetails.Answers[1]"
              ng-required="true"
              name="Answer2"
              placeholder="Enter details">
              </div>             
              <div class="form-group">
              <div ng-repeat="category in registerCtrl.myCategories">
                <input type="checkbox" ng-model="category.selected"
                  ng-click="toggleSelection($event)" 
                  id="{{category.catagory_id}}"/> 
                <label for="category.catagory_id"  ng-bind="category.catagory_id"></label>          
              </div>
            </div>         
            <div style="text-align: center">
              <input type="submit"
              class="btn btn-success btn-lg"
              value="Register"
              ng-disabled="registerForm.$invalid">
             </div> 
      </form>
    <br/>
    </div>
    </div>
    </div>
</body>
</html>
