<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container" id="aboutDiv">
        <br />
        <h1 class="hedaers">Seoul</h1>
        <hr />
        <div>
            <img class="aboutImg" src="pictures/seoul1.jpg" alt="pic" />
            <img class="aboutImg" height="200" width="200" src="pictures/seoul2.jpg" alt="pic" />
            <img class="aboutImg"  src="pictures/seoul3.jpg" alt="pic" />
            <img class="aboutImg" src="pictures/seoul4.jpg" alt="pic" />


        </div>
        <br />
        <h2>The most amazing city in South Korea</h2>
       <p>
            Seoul (서울) is the capital of South Korea. With a municipal population of over 11.8 million, and a metropolitan population totaling over 25.6 million, Seoul is by far South Korea's largest city and one of East Asia's financial and cultural epicenters. A fascinating blend of ancient traditions and cutting-edge digital technology, home to endless street food vendors and vast nightlife districts, an extraordinarily high-pressure educational system and serene Buddhist temples, a trend-setting youth culture and often crushing conformism, extraordinary architecture and endless monotonous rows of grey apartment buildings, Seoul is a city filled with stark contrasts.
            Seoul is the largest city in South Korea as well as the political and economic capital. The city houses 11.8 million people, and the metropolitan area has 25.6 million, which is just over half of the population of South Korea. By some measures it is the world's second largest urban agglomeration, after Tokyo.
       </p>
        <br />
        <h2>Who are we?</h2>
        <a target="_blank" href="https://pbcg7eph4cnrghhdoez6vg-on.drv.tw/shacharwild/" style="display:inline">Visit Shachar Wild Website</a>
        <br />
        <a target="_blank" href="http://moshesrornew.000webhostapp.com/" style="display:inline">Visit Hanen Zebenh Website</a>
        <br />
        <br />
        <h2>Another website we create</h2>
        <a target="_blank" href=https://pbcg7eph4cnrghhdoez6vg-on.drv.tw/superrpacman/index.htm " style="display:inline">Visit Pacman Game Website</a>
    </div>
</body>
</html>